---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";

const inputLabelStyles =
    "block uppercase tracking-wide text-gray-700 text-xs font-light mb-2";

const inputFieldStyles =
    "appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white";
---

<Layout title="Contact">
    <div class="lg:grid lg:grid-cols-2 lg:mb-6">
        <aside class="lg:px-6 lg:my-6">
            <Image
                alt="foto van zwevend tv-meubel"
                src={import(
                    "../images/carpentry/built-in-closet-kontich-img01.jpeg"
                )}
                class="lg:rounded-md"
            />
        </aside>
        <article class="px-6 mt-6">
            <p class="font-bold uppercase md:text-xl">Contact</p>
            <p class="mt-2 mb-6 font-light md:text-lg">
                Stuur ons gerust een bericht met jouw vraag en we helpen je
                graag verder!
            </p>
            <form
                action="/success"
                class="mb-6"
                name="contact"
                method="POST"
                data-netlify="true"
            >
                <div class="grid grid-cols-1 -mx-3 mb-6">
                    <div class="grid grid-cols-2">
                        <div class="px-3">
                            <label class={inputLabelStyles} for="first-name">
                                Voornaam *</label
                            >
                            <input
                                class={inputFieldStyles}
                                id="first-name"
                                type="text"
                                required
                            />
                        </div>
                        <div class="px-3">
                            <label class={inputLabelStyles} for="last-name">
                                Achternaam *
                            </label>
                            <input
                                class={inputFieldStyles}
                                id="last-name"
                                type="text"
                                required
                            />
                        </div>
                    </div>
                    <div class="px-3">
                        <label class={inputLabelStyles} for="subject">
                            Onderwerp *
                        </label>
                        <input
                            class={inputFieldStyles}
                            id="subject"
                            type="text"
                            required
                        />
                    </div>
                    <div class="px-3">
                        <label class={inputLabelStyles} for="email"
                            >Email *</label
                        >
                        <input
                            class={inputFieldStyles}
                            id="email"
                            type="email"
                            required
                        />
                    </div>
                    <div class="px-3">
                        <label class={inputLabelStyles} for="message">
                            Bericht *
                        </label>
                        <textarea class={inputFieldStyles} id="message" required
                        ></textarea>
                    </div>
                </div>
                <div>
                    <button
                        class="text-white rounded font-light border border-gray-800 bg-gray-800 text-center p-3"
                        type="submit">Verzenden</button
                    >
                </div>
            </form>
        </article>
    </div>
</Layout>
