---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import PrimaryLink from "../components/links/PrimaryLink.astro";
import SecondaryLink from "../components/links/SecondaryLink.astro";
import { appUrls } from "../consts/appUrls";

const keyWordStyles =
    "font-semibold mb-2 text-gray-900 text-3xl lg:font-bold lg:mb-4 lg:mx-4 lg:text-3xl";
---

<Layout title="Welkom!">
    <div class="flex flex-col lg:flex-row lg:mt-12">
        <Image
            alt="foto van zwevend tv-meubel"
            src={import("../images/kitchens/kitchen-kontich-img01.jpeg")}
            class="lg:pl-6 lg:w-[90vh] lg:h-auto"
        />
        <article class="px-6 mt-6 lg:mt-0 lg:ml-2">
            <div>
                <p class={keyWordStyles}>Schrijnwerkerij</p>
                <p class={keyWordStyles}>Maatwerk</p>
                <p class={keyWordStyles}>Schilderwerken</p>
                <p class={keyWordStyles}>Tegelwerken</p>
                <p class={keyWordStyles}>Renovatie</p>
            </div>

            <p
                class="text-gray-800 font-light mt-8 lg:text-xl lg:mt-12 lg:mx-4"
            >
                Marc Boone is een zelfstandig schrijnwerker en meubelmaker met
                meer dan 35 jaar ervaring uit Antwerpen.
            </p>
            <div
                class="flex flex-col my-8 lg:flex-row lg:items-center lg:justify-left"
            >
                <PrimaryLink
                    label="Bekijk onze werken"
                    linkTo={appUrls.galery.base}
                    styles="mb-4 lg:mb-0 lg:w-fit lg:mx-4"
                />
                <SecondaryLink
                    label="Stel ons je vraag"
                    linkTo={appUrls.contact.base}
                    styles="lg:w-fit lg:mx-4"
                />
            </div>
        </article>
    </div>
    <aside class="px-6">
        <h3 class="text-gray-700 text-xl mb-4 mt-12 lg:text-3xl lg:mb-8">
            Recente werken
        </h3>
        <div class="flex flex-col lg:grid lg:grid-cols-4 gap-2 justify-between">
            <Image
                alt="Ingemaakte kast woonkamer met zwevend schab"
                src={import(
                    "../images/carpentry/built-in-closet-kontich-img03.jpeg"
                )}
            />
            <Image
                alt="Zwevend tv-meubel in houtsoort MDF (gelakt)"
                src={import(
                    "../images/carpentry/floating-tv-closet-mortsel-img01.png"
                )}
            />
            <Image
                alt="Ingemaakte kast slaapkamer"
                src={import(
                    "../images/carpentry/built-in-closet-kontich-img01.jpeg"
                )}
            />
            <Image
                alt="Houten wand en tuinhuis"
                src={import("../images/outside/outside-img02.jpg")}
            />
        </div>
        <div class="flex items-center justify-center my-8 lg:my-12">
            <SecondaryLink
                label="Bekijk alle werken"
                linkTo={appUrls.galery.base}
            />
        </div>
    </aside>
</Layout>
