---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";

const keyWordStyles = "font-semibold text-gray-900 text-2xl mb-2";
---

<Layout title="Welkom!">
    <aside>
        <Image
            alt="foto van zwevend tv-meubel"
            src={import("../images/cover-title-page.png")}
        />
    </aside>
    <article class="px-6 mt-6">
        <p class={keyWordStyles}>Schrijnwerkerij</p>
        <p class={keyWordStyles}>Maatwerk</p>
        <p class={keyWordStyles}>Schilderwerken</p>
        <p class={keyWordStyles}>Tegelwerken</p>
        <p class={keyWordStyles}>Renovatie</p>

        <p class="text-gray-800 font-light mt-4">
            Marc Boone is een zelfstandig schrijnwerker en meubelmaker met meer
            dan 35 jaar ervaring uit Antwerpen.
        </p>
        <div class="flex items-center justify-around mb-16">
            <a
                class="mt-6 px-8 py-3 text-white rounded font-light border border-gray-800 bg-gray-800"
                href="/galery">Bekijk werk</a
            >
            <a
                class="mt-6 px-8 py-3 text-gray-800 rounded font-light border border-gray-800"
                href="/contact">Stel een vraag</a
            >
        </div>
    </article>
</Layout>
