---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import PrimaryLink from "../components/links/PrimaryLink.astro";
import SecondaryLink from "../components/links/SecondaryLink.astro";
import ImageModal from "../components/ImageModal.astro";

const keyWordStyles =
    "font-semibold text-gray-900 text-3xl mb-2 lg:font-bold lg:text-3xl lg:mb-4 lg:mx-4";
---

<Layout title="Welkom!">
    <div class="flex flex-col lg:flex-row">
        <aside class="lg:pl-6">
            <Image
                alt="foto van zwevend tv-meubel"
                src={import("../images/cover-title-page.png")}
                class="lg:rounded-md"
            />
        </aside>
        <article class="px-6 mt-6 lg:mt-0 lg:ml-2">
            <div>
                <p class={keyWordStyles}>Schrijnwerkerij</p>
                <p class={keyWordStyles}>Maatwerk</p>
                <p class={keyWordStyles}>Schilderwerken</p>
                <p class={keyWordStyles}>Tegelwerken</p>
                <p class={keyWordStyles}>Renovatie</p>
            </div>

            <p
                class="text-gray-800 font-light mt-8 lg:text-xl lg:mt-12 lg:mx-4"
            >
                Marc Boone is een zelfstandig schrijnwerker en meubelmaker met
                meer dan 35 jaar ervaring uit Antwerpen.
            </p>
            <div
                class="flex flex-col my-8 lg:flex-row lg:items-center lg:justify-left"
            >
                <PrimaryLink
                    label="Bekijk onze werken"
                    linkTo="/galery"
                    styles="mb-4 lg:mb-0 lg:w-fit lg:mx-4"
                />
                <SecondaryLink
                    label="Stel ons je vraag"
                    linkTo="/contact"
                    styles="lg:w-fit lg:mx-4"
                />
            </div>
        </article>
    </div>
    <aside class="px-6">
        <h3
            class="text-gray-900 text-xl font-semibold mb-4 lg:mt-12 lg:font-bold lg:text-2xl"
        >
            Recente werken
        </h3>
        <div class="flex flex-col lg:grid lg:grid-cols-3 gap-4 justify-between">
            <div class="flex flex-col">
                <ImageModal
                    imageId="01"
                    imageAlt="Zwevend tv-meubel"
                    imageSrc="../images/cover-title-page.png"
                />
                <p class="text-gray-700 font-light">Zwevend tv-meubel</p>
            </div>
            <div class="flex flex-col">
                <ImageModal
                    imageId="02"
                    imageAlt="Dit is een test"
                    imageSrc="../images/cover.jpg"
                />
                <p class="text-gray-700 font-light">Test alt</p>
            </div>
            <div class="flex flex-col">
                <ImageModal
                    imageId="03"
                    imageAlt="Dit is een test2"
                    imageSrc="../images/cover.jpg"
                />
                <p class="text-gray-700 font-light">Test alt2</p>
            </div>
        </div>
        <div class="flex items-center justify-center my-8 lg:my-12">
            <SecondaryLink label="Bekijk alle werken" linkTo="/galery" />
        </div>
    </aside>
</Layout>
