---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import PrimaryLink from "../components/links/PrimaryLink.astro";
import SecondaryLink from "../components/links/SecondaryLink.astro";

const keyWordStyles = "font-semibold text-gray-900 text-2xl mb-2";
---

<Layout title="Welkom!">
    <aside>
        <Image
            alt="foto van zwevend tv-meubel"
            src={import("../images/cover-title-page.png")}
        />
    </aside>
    <article class="px-6 mt-6">
        <p class={keyWordStyles}>Schrijnwerkerij</p>
        <p class={keyWordStyles}>Maatwerk</p>
        <p class={keyWordStyles}>Schilderwerken</p>
        <p class={keyWordStyles}>Tegelwerken</p>
        <p class={keyWordStyles}>Renovatie</p>

        <p class="text-gray-800 font-light mt-4">
            Marc Boone is een zelfstandig schrijnwerker en meubelmaker met meer
            dan 35 jaar ervaring uit Antwerpen.
        </p>
        <div class="flex items-center justify-evenly my-6">
            <PrimaryLink label="Bekijk werk" linkTo="/galery" />
            <SecondaryLink label="Stel een vraag" linkTo="/contact" />
        </div>
    </article>
    <aside class="p-6">
        <h3 class="text-gray-800 text-xl font-bold">Galerij</h3>
    </aside>
</Layout>
