---
const inputLabelStyles =
    "block uppercase tracking-wide text-gray-700 text-xs font-light mb-2";

const inputFieldStyles =
    "appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white";
---

<form
    data-netlify="true"
    netlify-honeypot="bot-field"
    action="/success"
    class="mb-6"
    name="contact"
    method="POST"
>
    <p class="hidden">
        <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
        </label>
    </p>
    <input type="hidden" name="contact" value="feedback" />
    <div class="grid grid-cols-1 -mx-3 mb-6">
        <div class="grid grid-cols-2">
            <div class="px-3">
                <label class={inputLabelStyles} for="first-name">
                    Voornaam *</label
                >
                <input
                    class={inputFieldStyles}
                    id="first-name"
                    type="text"
                    required
                />
            </div>
            <div class="px-3">
                <label class={inputLabelStyles} for="last-name">
                    Achternaam *
                </label>
                <input
                    class={inputFieldStyles}
                    id="last-name"
                    type="text"
                    required
                />
            </div>
        </div>
        <div class="px-3">
            <label class={inputLabelStyles} for="subject"> Onderwerp *</label>
            <input class={inputFieldStyles} id="subject" type="text" required />
        </div>
        <div class="px-3">
            <label class={inputLabelStyles} for="email">Email *</label>
            <input class={inputFieldStyles} id="email" type="email" required />
        </div>
        <div class="px-3">
            <label class={inputLabelStyles} for="message"> Bericht *</label>
            <textarea class={inputFieldStyles} id="message" required></textarea>
        </div>
    </div>
    <div>
        <button
            class="text-white rounded font-light border border-gray-800 bg-gray-800 text-center p-3"
            type="submit">Verzenden</button
        >
    </div>
</form>
