---
import { appUrls } from "../consts/appUrls";

const listItemStyles = "text-sm text-gray-800 font-light py-1";
---

<footer class="bg-gray-50 mt-auto p-6 flex flex-col">
    <div class="flex justify-around">
        <div>
            <div class="text-gray-800">Sitemap</div>
            <ul>
                <li class={listItemStyles}>
                    <a href={appUrls.home.base}>Home</a>
                </li>
                <li class={listItemStyles}>
                    <a href={appUrls.galery.base}>Galerij</a>
                </li>
                <li class={listItemStyles}>
                    <a href={appUrls.contact.base}>Contact</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="text-gray-800">Contact</div>
            <ul>
                <li class={listItemStyles}>
                    <a
                        href="mailto:mrboone@skynet.be?subject=Aanvraag via website"
                        >Mail ons</a
                    >
                </li>
                <li class={listItemStyles}>
                    <a href="tel:0470551986">Bel ons</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="font-light text-xs text-center mt-6 text-gray-400">
        BTW BE XXX XXX XXX
    </div>
    <div class="font-light text-xs text-center mt-2 text-gray-400">
        All rights reserved. &#169; MB Renovatie 2022 - Present.
    </div>
</footer>
