---
import CloudinaryImage from "./CloudinaryImage.astro";

export interface Props {
    heading: string;
    imageSrc: string;
    imageAlt: string;
}

const { heading, imageAlt, imageSrc } = Astro.props;

const headingStyles = "text-left font-thin md:text-lg";
const imageStyles = "my-2 hover:shadow-xl";
---

<p class={headingStyles}>{heading}</p>
<CloudinaryImage
    class={imageStyles}
    src={imageSrc}
    alt={imageAlt}
    width="100%"
    height="100%"
/>
