---
import { Image } from "@astrojs/image/components";

export interface Props {
    heading: string;
    imageSrc: string;
    imageAlt: string;
}

const { heading, imageAlt, imageSrc } = Astro.props;

const headingStyles = "text-left text-gray-800 font-light md:text-lg";
const imageStyles = "my-2 rounded-md hover:shadow-2xl";
---

<p class={headingStyles}>{heading}</p>
<Image class={imageStyles} src={import(imageSrc)} alt={imageAlt} />
