---
import Layout from "../../layouts/Layout.astro";
import PrimaryCard from "../../components/PrimaryCard.astro";
import { appUrls } from "../../consts/appUrls";
import Breadcrumbs, {
    Breadcrumb,
} from "../../components/links/Breadcrumbs.astro";

const breadcrumbs: Breadcrumb[] = [
    { label: "Home", linkTo: appUrls.home.base },
    { label: "Galerij" },
];
---

<Layout title="Galerij">
    <nav class="mt-6">
        <Breadcrumbs breadcrumbs={breadcrumbs} />
    </nav>
    <article
        class="px-6 my-6 sm:grid sm:grid-cols-2 gap-6 lg:grid-cols-3 justify-between"
    >
        <a href={appUrls.galery.carpentry} class="mb-6 md:mb-0">
            <PrimaryCard
                heading="Meubelmakerij"
                imageSrc="../images/kitchens/kitchen-kontich-img01.jpeg"
                imageAlt="Een op maat gemaakte keuken"
            />
        </a>
        <a href={appUrls.galery.plasterBoards} class="mb-6 md:mb-0">
            <PrimaryCard
                heading="Gyprocwerken"
                imageSrc="../images/plaster-boards/plaster-boards-img02.jpg"
                imageAlt="Een gerenoveerde zolderverdieping in pleisterplaten"
            />
        </a>
        <a href={appUrls.galery.painting} class="mb-6 md:mb-0">
            <PrimaryCard
                heading="Schilder- & behangwerken"
                imageSrc="../images/painting-and-wallpapers/painting-img10.jpeg"
                imageAlt="Een gerenoveerde zolderverdieping in pleisterplaten"
            />
        </a>
        <a href={appUrls.galery.outside} class="mb-6 md:mb-0">
            <PrimaryCard
                heading="Buitenwerken"
                imageSrc="../images/outside/outside-img02.jpg"
                imageAlt="Houten tuinscherm- en huis"
            />
        </a>
        <a href={appUrls.galery.flooringAndTiles} class="mb-6 md:mb-0">
            <PrimaryCard
                heading="Vloer- & tegelwerken"
                imageSrc="../images/plaster-boards/attic-renovated-plasterboards-painted-img01.jpeg"
                imageAlt="Een gerenoveerde zolderverdieping in pleisterplaten"
            />
        </a>
    </article>
</Layout>
