---
import Layout from "../../layouts/Layout.astro";
import PrimaryCard from "../../components/PrimaryCard.astro";
import { appUrls } from "../../consts/appUrls";
import Breadcrumbs, {
    Breadcrumb,
} from "../../components/links/Breadcrumbs.astro";
const coverImageCarpentry = "mbrenovatie/kitchens/kitchen-img01.jpeg";
const coverImagePlasterBoards =
    "mbrenovatie/plaster-boards/plaster-boards-img02.jpg";
const coverImagePainting =
    "mbrenovatie/painting-and-wallpapers/painting-img10.jpeg";
const coverImageOutside = "mbrenovatie/outside/outside-img02.jpg";
const coverImageFlooring = "mbrenovatie/floors-and-tiles/flooring-img06.jpeg";

const breadcrumbs: Breadcrumb[] = [
    { label: "Home", linkTo: appUrls.home.base },
    { label: "Galerij" },
];
---

<Layout title="Galerij">
    <nav class="mt-2">
        <Breadcrumbs breadcrumbs={breadcrumbs} />
    </nav>
    <article
        class="px-6 my-2 sm:grid sm:grid-cols-2 gap-6 lg:grid-cols-3 justify-between"
    >
        <a href={appUrls.galery.carpentry} class="mb-6 md:mb-0">
            <PrimaryCard
                heading="Meubelmakerij"
                imageSrc={coverImageCarpentry}
                imageAlt="Een op maat gemaakte keuken"
            />
        </a>
        <a href={appUrls.galery.plasterBoards} class="mb-6 md:mb-0">
            <PrimaryCard
                heading="Gyprocwerken"
                imageSrc={coverImagePlasterBoards}
                imageAlt="Een gerenoveerde zolderverdieping in pleisterplaten"
            />
        </a>
        <a href={appUrls.galery.painting} class="mb-6 md:mb-0">
            <PrimaryCard
                heading="Schilder- & behangwerken"
                imageSrc={coverImagePainting}
                imageAlt="Een gerenoveerde zolderverdieping in pleisterplaten"
            />
        </a>
        <a href={appUrls.galery.outside} class="mb-6 md:mb-0">
            <PrimaryCard
                heading="Buitenwerken"
                imageSrc={coverImageOutside}
                imageAlt="Houten tuinscherm- en huis"
            />
        </a>
        <a href={appUrls.galery.flooringAndTiles} class="mb-6 md:mb-0">
            <PrimaryCard
                heading="Vloer- & tegelwerken"
                imageSrc={coverImageFlooring}
                imageAlt="Een gerenoveerde zolderverdieping in pleisterplaten"
            />
        </a>
    </article>
</Layout>
