---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SEO } from "astro-seo";

const title =
    "MB Renovatie - Alle soorten klussen onder één dak. De expertise van een ervaren schrijnwerker voor al uw projecten, groot of klein.";
const description =
    "Bent u op zoek naar een professional die uw projecten tot in de puntjes verzorgt? Zoek niet verder! Bij ons vindt u alle soorten klussen onder één dak. Onze ervaren schrijnwerker beschikt over jarenlange expertise en levert prachtige resultaten op, ongeacht de grootte van het project. Van meubelmakerij en op maat ontworpen meubels tot schilder-, gyproc-, behang-, vloer-, tegel- en buitenwerken, wij hebben de kennis en ervaring om uw wensen waar te maken. Ook voor op gemaakte keukens en badkamers bent u aan het juiste adres. Laat u verrassen door onze kwaliteit en professionaliteit.";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content={description} />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="generator" content={Astro.generator} />
        <SEO
            title={title}
            description={description}
            twitter={{
                creator: "@jnsbne",
            }}
            extend={{
                link: [{ rel: "icon", href: "/favicon.ico" }],
            }}
        />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
        <style is:global>
            html,
            body {
                height: 100%;
                width: 100%;
            }
            body {
                display: flex;
                flex-direction: column;
            }
        </style>
    </body>
</html>
